@charset 'UTF-8';

/* Порядок сборки */
@import 'variables.pcss';
@import 'default.pcss';
@import "global.pcss";
@import "header.pcss";
@import "content.pcss";
@import "footer.pcss";
@import "media.pcss";
