/* Переменные */
$gotham: "Gotham", sans-serif;
$footer: #c8241a;
$benefit: #fee545;

@custom-media --laptop (width <= 1270px);
@custom-media --tablet (width <= 683px);
@custom-media --mobile (width <= 375px);
