div.content
  div.content__about
    h2.content__title Referral program
    p.content__text You're just clicks away from starting earning money with us. Get your personal referral code and spread it to as many customers as you can. Share the code however you want - email, chat, Facebook, Twitter.
  div.promocode
    div.benefit
      p.benefit__title AU-8910
      p.benefit__descr Your personal referral code
      p.benefit__text
        | This code is generated for Edward.Brief@gmail.com. If it’s not your email, let us know on referral@envy.rent.
    div.benefit
      p.benefit__title.benefit__title--percent 12.5%
      p.benefit__descr For you
      p.benefit__text
        | Get 12.5% from every booking made using your referral code
    div.benefit
      p.benefit__title.benefit__title--percent 5%
      p.benefit__descr For customers
      p.benefit__text
        | Every customers using your referral code will get 5% discount.
  div.promote
    h3.promote__title Promote your code
    div.option
      p.option__title Email template
      p.option__descr Send email to all your customers.
      div.option__img
      a(href='#').option__link Email example
    div.option
      p.option__title Paper flyer (A5)
      p.option__descr Print out the flyer and give it out the customers.
      div.option__img.option__img--small
      a(href='#').option__link Download PDF
      a(href='#').option__link Download PSD
      a(href='#').option__link Download JPG
    div.option
      p.option__title Social media
      p.option__descr Share your code through social media
      a(href='#').option__social
        svg.option__svg(width='20' height='20')
          use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-twitter")
        | Tweet
      a(href='#').option__social
        svg.option__svg(width='20' height='20')
          use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-facebook")
        | Share
      a(href='#').option__social
        svg.option__svg(width='20' height='20')
          use(xmlns:xlink='http://www.w3.org/1999/xlink' xlink:href="#icon-google")
        | Share
  p.content__text With all questions email us on referral@envy.rent.
