div.footer
  p.footer__text
    a(href="#").footer__link Mailling address
    | 704 Ala Moana Blvd Honolulu, HI 96813
  p.footer__text
    a(href="#").footer__link About Envy.rent
    a(href="#").footer__link Terms & policies
    a(href="#").footer__link Pride — long rent
  p.footer Reviews
    a(href="#").footer__link Facebook
    a(href="#").footer__link Instagram
  a(href="mailto:info@envy.rent").footer__contact info@envy.rent
