div.footer
  ul.footer__list
    li.footer__item
      a(href="#").footer__link Mailling address
    li.footer__item 704 Ala Moana Blvd Honolulu, HI 96813
  ul.footer__list
    li.footer__item
      a(href="#").footer__link About Envy.rent
    li.footer__item
      a(href="#").footer__link Terms & policies
    li.footer__item
      a(href="#").footer__link Pride — long rent
  ul.footer__list Reviews
    li.footer__item
      a(href="#").footer__link Facebook
    li.footer__item
      a(href="#").footer__link Instagram
  p.footer__contact
    a(href="mailto:info@envy.rent").footer__link info@envy.rent
