div.content
  div.container
    ul.policies-nav
      li.policies-nav__item.policies-nav__item--title Terms & policies
      li.policies-nav__item
        a(href="#").policies-nav__link.policies-nav__link--selected
          span.link Terms of Service
      - var terms = ['Reservations, cancellations and fees', 'Car use: cleaning, smoking etc.', 'Tickets, tolls and towing', 'Coverage Policy', 'Privacy policy', 'Cookie policy', 'Hawaiian laws']
      for list in terms
        li.policies-nav__item
          a(href="#").policies-nav__link
            span.link= list
    div.content__policies
      h1.content__title.content__title--light Terms of Service
      p.content__text Last revised: March 29, 2017
      p.content__text Thank you for your interest in Envy!
      p.content__text
        | Please read these terms of service carefully as they contain important information regarding your legal rights, remedies, and obligations. These include various limitations and exclusions, a clause that governs the jurisdiction and venue of disputes, and obligations to comply with applicable laws and regulations.
      h2.content__title.content__title--small Introduction
      p.content__text
        | Envy Hawaii, LLC dba Envy (hereinafter, “Envy,” “we,” or “us”), provides service for car rental. Envy is accessible online including at 
        a.content__link(href="hhtp://www.envy.rent") www.envy.rent
        |, by phone or at the office (Envy’s website is hereinafter referred to as “the Services”.) By accessing or using the Services, you agree to comply with, and be legally bound by, the provisions of these Terms of Service (“Terms”), whether or not you become a registered user of the Services. These Terms govern your access to, and use of, the Services and constitute a binding legal agreement between you and Envy.
      p.content__text
        | Modification. All of the provisions in the Terms, together with Envy’s Privacy Policy and the user Policies provided on the Envy Services (the “Policies”) constitute the “Agreement” between you and Envy. Envy reserves the right, at our sole discretion, to modify our Services or to modify these Terms at any time. If we modify these Terms, we will post the modification on our Services. We will also update the “Last Revised” date at the top of these Terms. By continuing to access or use our Services after we have posted a modification or have provided you with notice of a modification, you are indicating that you agree to be bound by the modified Terms. If the modified Terms are not acceptable to you, your sole recourse is to stop using and accessing the Services.
      p.content__text
        | If you have any questions for us concerning this Agreement or Envy generally, please contact us at 
        a(href="mailto:info@envy.rent").content__link info@envy.rent.
      h2.content__title.content__title--small General Terms
      p.content__text
        | Eligibility. Our Services are intended solely for persons who are 18 or older. Any use of the Services by anyone under 18 is expressly prohibited.
      p.content__text
        | Registration. In order to access certain features of the Services you must sign up for an account with us (hereinafter a “Envy Account”) by either providing us your email address and creating a password or through a third-party social networking site account (“SNS”) (including, Facebook and Google). This feature might be unavailable for some period of time.
      p.content__text
        | Verification. When you sign up to rent a car, you will provide us with certain information about yourself to enable us to verify your identity in order to become an “Approved Driver.” You promise to provide complete and accurate information to Envy about yourself. You hereby authorize Envy to perform a check of your driving records, and to undertake other screening processes. Although Envy may undertake screenings, checks, and processes designed to help verify or check the identities and/or backgrounds of users, we do not endorse any user, or his or her background. Envy may in its sole discretion use third party services to verify the information you provide to us and to obtain additional related information and corrections where applicable and you hereby authorize Envy to request, receive, use, and store such information. Envy may accept or reject your application to become an Approved Driver in its sole discretion.
      p.content__text
        | Consumer Report Authorization. When you apply to become an Approved Driver, you are providing Envy with written instructions and authorization in accordance with the Fair Credit Reporting Act or similar laws to obtain your personal and/or business credit report and/or conduct a background check, including a criminal background check. You are also authorizing Envy to obtain your personal and/or business credit report or conduct a background check at any time Envy reasonably believes there may be an increased level of risk associated with your Envy Account.
      p.content__text
        | Ongoing Information Updates. You promise to update the information you have provided to Envy in the event of any changes to your driving record, contact information, or background (such as a criminal convictions). Specifically with respect to your contact information, Envy may deliver notices to you at the most recent email, telephone, or billing address provided by you, and those notices will be considered valid even if you no longer maintain the email account, telephone number, or receive mail at that address. Also, you are and will be solely responsible for all of the activity that occurs through your account, so please keep your password and account information secure. You agree that you will not disclose your password to any third party and that you will take sole responsibility for any activities or actions under your Envy Account, whether or not you have authorized such activities or actions. You will immediately notify Envy of any actual or suspected unauthorized use of your Envy Account. We are not responsible for your failure to comply with this clause, or for any delay in shutting down your account after you have reported a breach of security to us.
      p.content__text
        | Your Commitments. You agree that you will always use Envy in compliance with the Terms of this Agreement and any other policies and standards provided to you by Envy. You commit that you’ll be a legally licensed driver, who will treat the car well and will take all reasonable measures to return the car on time in essentially the same condition that you received it. In connection with your use of or access to the Services you may not, and you agree that you will not, nor advocate, encourage, request, or assist any third party to:

      
      
